//mixins
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

//variables
$color-background: rgb(49, 25, 49);
$color-background-variant: rgb(83, 0, 83);
$color-primary: rgb(187, 0, 224);
$color-primary-variant: rgb(130, 0, 156);
$color-white: rgb(236, 230, 230);
$color-light: rgb(184, 184, 184);

$team-red: linear-gradient(225deg, rgb(255, 51, 0), rgb(250, 100, 100));
$team-blue: linear-gradient(135deg, rgb(17, 140, 255), rgb(70, 209, 255));
// $team-red: linear-gradient(270deg, rgb(61, 0, 0), rgb(107, 0, 0));
// $team-blue: linear-gradient(90deg, rgb(0, 0, 61), rgb(0, 0, 107));

$container-width-lg: 75%;
$container-width-md: 85%;
$container-width-sm: 90%;
