@import "../app/variables";

.input-container {
  padding: 0rem;
  position: relative;
}

input {
  font-weight: 500;
  font-size: 1.5rem;
  height: 3rem;
  color: $color-white;
  margin: 1rem 0rem;
  padding: 0.5rem 2.5rem;
  border-radius: 0.7rem 0rem 0rem 0.7rem;
  border: 1px solid $color-dark-transparent;
  max-width: 100%;
}

.delete-icon {
  width: fit-content;
  height: 100%;
  color: $color-dark-transparent;
  transition: $transition;
  background-clip: content-box;
  -webkit-background-clip: content-box;
  position: absolute;
  height: 3rem;
  right: 0rem;
  top: 1rem;
  z-index: 98;

  &:hover {
    color: $color-light;
    cursor: pointer;
  }
}

.perk-container {
  background-color: $color-darker-transparent;
  height: 3rem;
  border-radius: 0 0.7rem 0.7rem 0;
  aspect-ratio: 1/1;
  transition: $transition;
  border: 1px solid transparent;
  position: relative;

  &:hover {
    .summoner__perk-rules {
      opacity: 1;
      display: flex;
      padding: 1rem;
    }
  }
}

.summoner__perk-icon {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: $color-white;
}

.summoner__perk-name {
  font-size: 0.7rem;
  text-align: center;
  color: $color-white;
}

.summoner__perk-rules {
  display: none;
  position: absolute;
  right: 9rem;
  font-size: 0.8rem;
  color: $color-white;
  opacity: 1;
  z-index: 99;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
  transition: $transition;
  border-radius: 0.4rem;
  clip-path: polygon(0 0, 95% 0, 95% 15%, 98% 18%, 95% 21%, 95% 100%, 0 100%);
}
