@import "../app/variables";

.container {
  margin-bottom: 10rem;
}

.teams__header {
  margin: 0rem auto 3rem;
  border-bottom: 1px solid $color-light;
  width: fit-content;
  cursor: default;
  user-select: none;
}

.teams__container {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 1.5rem 0 1rem;
  box-shadow: 2px 5px 8px black;
}

.blue {
  background-image: $team-blue;
  background-position: left;
  animation: bg-animation 4s infinite alternate;
}

.red {
  background-image: $team-red;
  background-position: right;
  animation: bg-animation 3.5s infinite alternate;
}
.blue-list {
  background-color: $color-blue-variant;
  border: 1px solid transparent;
  transition: $transition;

  &:hover,
  &:focus-within {
    background-color: $color-dark-transparent;
    border: 1px solid $color-blue-primary;
  }

  input {
    background-color: $color-blue-bg-variant;
    transition: $transition;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-blue-primary;
      border: 1px solid transparent;
    }
  }

  .delete-icon:hover + input {
    background-color: $color-blue-primary;
    border: 1px solid transparent;
  }

  ::placeholder {
    color: $color-blue-primary;
  }

  .perk-container {
    &:hover {
      background-color: $color-blue-bg;
      border: 1px solid $color-blue-primary;
    }
  }
}

.red-list {
  background-color: $color-red-variant;
  border: 1px solid transparent;
  transition: $transition;

  &:hover,
  &:focus-within {
    background-color: $color-dark-transparent;
    border: 1px solid $color-red-primary;
  }

  input {
    background-color: $color-red-bg-variant;
    transition: $transition;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-red-primary;
      border: 1px solid transparent;
    }
  }

  .delete-icon:hover + input {
    background-color: $color-red-primary;
    border: 1px solid transparent;
  }
  ::placeholder {
    color: $color-red-primary;
  }
  .perk-container {
    &:hover {
      height: 3rem;
      background-color: $color-red-bg;
      border: 1px solid $color-red-primary;
    }
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
