@import "../app/variables";

.footer__container {
  text-align: center;
  padding: 3rem 0 9rem;
  background-color: $color-active;
  align-content: center;
}

.portfolio__site {
  color: white;
}

a {
  text-decoration: none !important;
}
